@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

* {
    margin: 0;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    color: inherit;
}

header {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
    header > h1{
        font: normal 4em 'Playfair Display SC', serif;
        text-align:center;
    }

    .header-nav {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

        .header-nav a {
            flex-grow: 1;
            text-align: center;
            padding: 1em;
            position: relative;
        }

        
        .header-nav a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            height: 2px;
            transform: scaleX(0);
            background: #333;
            transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
        }

        .header-nav a:hover::after{
            transform: scaleX(1)
        }

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  padding: 2em 2em 2em 14em+3em;
  font-size: 16px;
  line-height: 1.6;
  
  font-family: 'Roboto', sans-serif;
}

.toc {
  position: absolute;
  left: 3em;
  top: 150;
  padding: 1em;
  width: 350px;
  line-height: 2;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul ul {
    padding-left: 2em;
  }
  
  li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }
  
  li.visible>a {
    color: #111;
    transform: translate( 5px );
  }
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  path {
    transition: all 0.3s ease;
  }
}

.contents {
  padding: 25px 450px;
  max-width: 1200px;
  font-size: 1.2em;
  font-family: 'Frank Ruhl Libre', sans-serif;

  img {
    max-width: 100%;
  }
  
  .code-block {
		white-space: pre;
		overflow: auto;
		max-width: 100%;

		code {
      display: block;
			background-color: #f9f9f9;
			padding: 10px;
		}
	}

	.code-inline {
		background-color: #f9f9f9;
		padding: 4px;
	}
  
  h2,
  h3 {
    padding-top: 1em;
  }
}


@media screen and (max-width: 1200px) {

  body {
    font-size: 14px;
  }
  
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}